.authContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  text-align: left;
  gap: 3rem;
}

.logoWrapper {
  width: 150px;
  height: 150px;
}

.contentWrapper {
  min-width: 400px;
  max-width: 800px;
  justify-content: center;
}

form {
  background-color: var(--dark_2-color);
  border-radius: 1rem;
  padding: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

form h1 {
  color: var(--pink-color);
  font-family: var(--font-secondary);
  font-size: 2.125rem;
  text-align: center;
}

.subheading {
  color: var(--off-white-color);
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 1.125rem;
  text-align: center;
}

form p {
  color: var(--off-white-color);
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
}

.formLink {
  color: var(--pink_2-color);
  font-size: 1rem;
  text-decoration: none;
  align-self: center;
}

.inputRow {
  display: flex;
  gap: 1rem;
}

.inputRow input {
  flex: 1;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  background-color: rgba(var(--off-white-rgb), 0.25);
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  color: var(--off-white-color);
  font-family: var(--font-primary);
  font-size: 0.875rem;
  width: 100%;
  margin-bottom: 0.5rem;
}

input::placeholder {
  color: rgba(var(--off-white-rgb), 0.6);
}

button[type='submit'] {
  background-color: var(--pink_2-color);
  color: var(--darkest-color);
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 1.125rem;
  border-radius: 9999px;
  padding: 0.75rem 2.5rem;
  cursor: pointer;
  width: 150px;
  margin: 0 auto;
  display: block;
}

button[type='submit']:hover {
  background-color: var(--pink-color);
}
