.homeContainer { 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainContent {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  text-align: left;
  gap: 5rem;
}

.logoWrapper {
  width: 500px;
  height: 350px;
}

.contentWrapper {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.headline {
  color: var(--pink-color);
  font-family: var(--font-primary);
  font-weight: 800;
  font-size: 4.5rem;
  line-height: 1.1;
  margin: 0 0 2rem;
  text-align: left;
}

.subheadline {
  color: var(--off-white-color);
  font-weight: 400;
  font-size: 1.125rem;
  max-width: 400px;
  margin: 0 0 4rem;
}

.ctaGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ctaText {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 1rem;
  color: var(--off-white-color);
}

.signUpBtn {
  font-size: 1.125rem;
  padding: 0.75rem 2.5rem;
  border-radius: 9999px;
  font-weight: 600;
  white-space: nowrap;
  background-color: var(--pink_2-color);
  color: var(--darkest-color);
}